/* <===== Navbar =====> */
.navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.brand-2 {
  color: #106eea;
}

.nav-link {
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

.navbar-nav .nav-link {
  position: relative; /* Position relative untuk elemen menu */
  overflow: hidden; /* Atur overflow hidden agar animasi hanya muncul dari samping */
  border-bottom: 2px solid transparent; /* Garis bawah awal */
  transition: border-bottom 0.4s ease; /* Animasi transisi */
}
.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background-color: #106eea;
  transition: left 0.3s ease;
}
.navbar-nav .nav-link:hover::after {
  left: 0;
}
.navbar-nav .nav-link:hover {
  border-bottom: 2px solid transparent;
}
.navbar-nav .nav-link.active:hover {
  color: #106eea;
}

/* <====== Hero ======> */
#hero {
  background-image: url("image/banner2.jpg");
  background-size: cover;
  color: #fff;
  padding: 200px 0;
}
.hero-tag h1 {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.text-color {
  color: #036efa;
}
.hero-tag p {
  font-family: Poppins, sans-serif;
  font-weight: 400;
}
.btn-style {
  background-color: #106eea;
  color: #ffffff;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
  text-decoration: none;
}
.btn-style:hover {
  background-color: #0a5cb4;
  color: #fff;
}

/* <====== Service card ======> */

.card:hover {
  transform: translateY(-5px);
  background-color: #f8f9fa; /* Warna latar belakang saat hover */
}

.icon {
  font-size: 36px;
  margin-bottom: 5px;
  color: #106eea;
}

.title {
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
}

/* <====== About ======> */
#about {
  background-color: #f6f9fe;
  padding: 35px;
  margin-top: 25px;
}
.title-style {
  color: #106eea;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  background-color: #e7f1fd;
  border-radius: 50px;
  padding: 8px 20px;
}
.title-style2 {
  color: #000;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 30px;
}
.title-style3 {
  color: #106eea;
}
.desc-style {
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  color: #202020;
}
.title-desc-about {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  color: #202020;
}
.desc {
  font-family: Opensans, sans-serif;
  font-style: italic;
  font-weight: 300;
  color: #202020;
}

/* <======== Service View ========> */
#service {
  padding: 30px;
  margin-top: 25px;
}

/* <======== Team ========> */
#team {
  background-color: #f6f9fe;
  padding: 30px;
  margin-top: 25px;
}

/* <======== POrtfolio ========> */
#portfolio {
  padding: 30px;
  margin-top: 25px;
}

/* <======== Contact ========> */
#contact {
  background-color: #f6f9fe;
  padding: 30px;
  margin-top: 25px;
}
